#Folder for newly dumped files
new/
#Folder for files I'm working on
Work_Dir/
temp/materials ignore/seamless-resumen-monocromo-cuadrado-patron-vector-fondo-diseno-diagonal-redondeado-cuadrados.zip
temp/materials ignore/metal_door.jpg
temp/materials ignore/baldosa-terrazo-blanco-des-alpes.jpg
temp/materials ignore/1140.eps
comparison rooftop test.png
